<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.UserDAO">

    <insert id="save" parameterType="userDO">
        <![CDATA[
          insert into t_user(password) values(#{password})
        ]]>
    </insert>

</mapper>